@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello!</h1>
    <p>Here is the Coursework with all output tables from MySQL with the opportunity to search, delete and insert date.</a>.</p>
</div>
